.Button {
    padding: 8px 12px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.Button.success {
    background-color: green;
}

.Button.danger {
    background-color: red;
}